<!-- index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/users_show.css">
  </head>
  <body>
    <section class="container-user-single">
        <% if @user %>
        <div class="user-info">
            <div class="user-image">
                <img src="<%= @user.photo  %>">
            </div>
            <div class="user-name">
                <h4><%= @user.name  %></h4>
                <span class="num_posts">Number of Posts: <%= @user.posts_counter || 0 %></span>
            </div>
        </div>
        <div class="user-bio">
            <h4>Bio</h4>
            <p><%= @user.bio%></p>

        </div>
        <div class="">
            <!-- app/views/posts/new.html.erb -->

            <h1>New Post</h1>
            <% if flash[:error] %>
                <div class="error-mesage">
                    <%= flash[:error] %>
                </div>
            <% elsif flash[:success] %>
                <div class="success">
                    <%= flash[:success] %>
                </div>
            <% end %>
            <%= form_with(url: create_user_post_path(@user), method: :post) do |form| %>

                <%= form.label :title %>
                <%= form.text_field :title, name: 'post[title]' %>

                <%= form.label :text %>
                <%= form.text_area :text, name: 'post[text]' %>

                <%= form.submit "Create Post" %>
            <% end %>

        </div>
        <div class="user-post-container">
            <% if @user.posts.any? %>
                <% @user.posts.each do |post| %>
            <div data-href="<%= user_post_path(@user.id, post.id) %>" class="post">
                <h4 class="post-title"><%= post.title %></h4>
                <h4 class="post-description"><%= post.text %></h4>
                <span class="post-stat">Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %>
                <form action="<%= create_user_post_like_path(@user.id, post.id) %>" method="post" class="like-form">
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type="submit" class="like-button">
                        <img src="https://pngimg.com/uploads/like/like_PNG24.png" style="width: 20px; height: 20px;">
                    </button>
                </form>
                </span>
            </div>
            <% end %>

            <% else %>
                <h3>No post found</h3>
            <% end %>
            <%= link_to 'See All Posts', user_posts_path(@user) %>
        </div>
        <% else %>
            <div class="error">
                <h4>Sorry, user not found</h4>
                <img src="https://cdn141.picsart.com/354155909038211.png">
            </div>
        <% end %>

    </section>

    <script>
        $(document).ready(function() {
        $('.post').click(function() {
            var redirectUrl = $(this).data('href');
            window.location.href = redirectUrl;
        });
        });

    </script>
  </body>
</html>
