<!-- index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/posts_show.css">
  </head>
  <body>
    <section class="single-post-info">
      <% if @user %>
        <% if @post %>
          <div class="single-post">   
              <div class="single-post-title">
                  <h4><%= @post.title %></h4>
                  <p>Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>

              </div>
              <div class="single-post-bio">
                  <p><%= @post.text%></p>
              </div>
          </div>
          <div class="comment-form">
            <h2>Add Comments </h2>
            <% if flash[:error] %>
                <div class="error-message">
                    <%= flash[:error] %>
                </div>
            <% elsif flash[:success] %>
                <div class="success">
                    <%= flash[:success] %>
                </div>
            <% end %>
            <%= form_with(url: create_user_post_comment_path(@user, @post), method: :post) do |form| %>
                <%= form.label :text %>
                <%= form.text_area :text, name: 'comment[text]' %>
                <%= form.submit "Add Comment" %>
            <% end %>
          </div>
          <div class="comments">
                  <% if @post.comments.any? %>
                  <% @post.comments.each do |comment| %>
                  <p class="new-list-comment"><%= comment.user.name%>: <%= comment.text %></p>
                  <% end %>
                  <% else %>
                      <p>No comments yet</p>
                  <% end %>
          </div>
          <% else %>
          <div class="error">
                <h4>Sorry, post not found</h4>
                <img src="https://cdn141.picsart.com/354155909038211.png">
          </div>
        <% end %>
        <% else %>
          <div class="error">
                <h4>Sorry, user not found</h4>
                <img src="https://cdn141.picsart.com/354155909038211.png">
          </div>
      <% end %>



    
    </section>
  </body>
</html>
